.notification {
  display: inline-flex;
}

.notification img {
  color: black;
  opacity: 0.4;
}

.dot {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: -13px;
  margin-top: -1px;
}

